{%extends 'base.html'%}
{%block main_block%}
<div class="container">
    <div>
        <a href="{%url 'employee-add'%}" class="btn btn-primary mb-3 mt-2 ">Add New Employee</a>
    </div>
    <table class="table table-striped">
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Department</th>
        <th>Picture</th>
        <th>action</th>
        </tr>
        {% for e in data %}
        <tr>
            <td>{{e.name}}</td>
            <td>{{e.email_id}}</td>
            <td>{{e.salary}}</td>
            <td>{{e.department}}</td>
            <td><img src="{{e.picture.url}}" alt="" height="100" ></td>
            <td>
                <a href="{%url 'employee-detail' e.id%}">view</a>
                <a href="{%url 'employee-delete' e.id%}"> delete</a>
                <a href="{%url 'employee-update' e.id%}"> update</a>
            </td>
        </tr>
            {% endfor %}
      

    </table>
</div>
{%endblock%}